@charset "utf-8";
/*CSS Document*/


body{
    background-color:rgb(243, 178, 211);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color:black;
    text-align: center;
    margin: 0%;
    padding:0%;
}
div{
    width: 80%;
    margin: auto;
}

#laboutique{
    color:blueviolet;
    border-bottom: 2px red solid;
    text-decoration: none;
    
}
.logoboutique{
    display: inline;
    margin-bottom: 20px;
    
}
#laboutique:hover{
    color: aqua;
}


img{
    border-radius: 15px;
}
h2{
    color:blueviolet;
    border-bottom: 2px red solid;
    display: inline;
    margin-bottom: 10px;
}
h2:hover{
    color: aqua;

}
p{
    text-align: justify;
}
#ul{
    list-style-type: none;
    padding: 0%;
    text-align: left;
}
.liste{
    background-color:rgb(93, 95, 238);
    margin: 0px 10px 0px 10px;
    padding: 15px;
    border-radius: 5px;
}
#lienscgu{
    text-align: left;
}
a.liens{
    color:darkred;
    text-decoration: none;
}
a:hover.liens{
    text-decoration: underline;
}


table{
    margin: auto;
    width: 320px;
    border-collapse: collapse;
    border: none;
}

.titre{
    text-decoration: underline;
    font-style: italic;
    font-size: 20px;
    margin: 10px;
}
.colonnequatre{
    padding: 10px;
}
.imagejeux{
    border-radius: 12px;
}
.boutton{
    background-color: greenyellow;
    color: blue;
    font-weight:bold;
    font-size: 14px;
    border-radius: 12px;
    width:100% ;
    height: 50px;
    border: none;
}
button:hover{
    background-color: aqua;
}